body
{
    font-family:arial,sans-serif;
    word-wrap: break-word;
}

div
{
    display: block;
}
.rb
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
}

.rfloat
{
    float: right;
}

h1
{
    text-align: center;
    font-size: 20px;
}

h3
{
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}


div.entry
{
    border: 2px solid #bbb;
    overflow: auto;
    padding: 0.8%;
    margin: 1%;
}

div.entry .content
{
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}
