body
{
    margin:0px auto;
    padding: 10px;
    font-family:arial,sans-serif;
}

.rb
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
}

.rfloat
{
    float: right;
}

h1
{
    text-align: center;
}

div.entry
{
    padding: 10px;
    margin: 20px;
    border: 2px solid #ccc;
}
