body
{
    font-family:arial,sans-serif;
    word-wrap: break-word;
}

div
{
    display: block;
}

.rb
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
}

h1
{
    text-align: center;
    font-size: 20px;
}

h3
{
    font-size: 16px;
    display: inline;
}

span.source
{
    font-size: 13px;
    color: #999;
    display: inline;
}

div.title
{
    border-bottom: 1px solid #ddd;
}

div.entry
{
    border: 2px solid #bbb;
    overflow: auto;
    padding: 0.8%;
    margin: 1%;
}

div.entry .content
{
    font-size: 13px;
}

div.footnote
{
    text-align: center;
    border-top: 1px solid #ddd;
}

a.title-link
{
    text-decoration: none;
    color: #333;
}
