$def with (entrys)
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="static/favicon.ico" title="Favicon">
        <title>gReader</title>
        <link rel=stylesheet href="static/style.css" type="text/css" /> 
    </head>
    <body>
        <div class="rb">
            <h1>gReader</h1>
        </div>
        $for entry in entrys:
            <div class="entry rb">
                <h3> $:entry['title'] </h3>
                <div class="content">$:entry['content']</div>
            </div>
    </body>
</html>
