$def with (entrys)
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="static/favicon.ico" title="Favicon">
        <title>gReader</title>
        <link rel=stylesheet href="static/style.css" type="text/css" /> 
        <script type="text/javascript">
        onload=function(){
            function getElementsByClassName(classname, node)  {
                if(!node) node = document.getElementsByTagName("body")[0];
                var a = [];
                var re = new RegExp('\\b' + classname + '\\b');
                var els = node.getElementsByTagName("*");
                for(var i=0,j=els.length; i<j; i++)
                    if(re.test(els[i].className)) {
                        a.push(els[i]);
                    }
                return a;
            }

            var Entry = function(element) {
                this.entryId = element.getAttribute('entryid');
                this.y = element.offsetTop + element.offsetHeight;
                this.doRead = function () {
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.open("POST", "doread", true);
                    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    xmlhttp.send("entryid=" + this.entryId);
                };
            };

            var divEntrys = getElementsByClassName("entry");
            var entrys = [];
            function refreshEntrys() {
                entrys = [];
                for (var i in divEntrys) {
                    entrys.push(new Entry(divEntrys[i]));
                }
            }

            var curEntryId = 0;
            var lastWindowWidth = 0;
            window.onscroll = function () {
                if (lastWindowWidth != window.innerWidth) {
                    refreshEntrys();
                    lastWindowWidth = window.innerWidth;
                } else {
                    var y = document.body.scrollTop + window.innerHeight;
                    while (curEntryId < entrys.length && entrys[curEntryId].y <= y) {
                        entrys[curEntryId].doRead();
                        curEntryId++;
                    }
                }
            }

        }
    
        </script>
    </head>
    <body>
        <div class="rb">
            <h1>gReader</h1>
        </div>
        $for entry in entrys:
            <div class="entry rb" entryid="$entry['id']" >
                <div class="title">
                    <a href="$:entry['link']" class="title-link"><h3>$entry['title']</h3></a>
                    <span class="source"> - $entry['source']</span>
                </div>
                <div class="content">$:entry['content']</div>
            </div>
        <div class="footnote">
            Powered By <a href="http://www.kilnyy.com">Kilnyy</a>
        </div>
    </body>
</html>
