$def with ()
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="static/favicon.ico" title="Favicon">
        <title>gReader</title>
        <link rel=stylesheet href="static/style.css" type="text/css" /> 
    </head>
    <body>
        <div class="rb">
            <h1>gReader</h1>
            <form method="post" action="login">
                <fieldset>
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email"/>
                </fieldset>
                <fieldset>
                    <label for="passwd">Password</label>
                    <input id="passwd" type="password" name="password"/>
                </fieldset>
                <input type="submit" name="submit" value="登录" />
            </form>
        </div>
    </body>
</html>
